<footer>
<div class="jumbotron ">
 <div class="container">
    <div class="follow" id="contacts">
     <h1><span>Follow Me</span></h1>
     <hr>
     <div class="row">
       <div class="col-sm-4">
         <a href="https://www.instagram.com/kjempire9/?hl=en">
         <i class="fa fa-instagram" style="font-size: 48px"></i>
         </a>
       </div>
       <div class="col-sm-4">
         <a href="https://github.com/kjempire9">
          <i class="fa fa-github" style="font-size: 48px"></i>
          </a>
       </div>
       <div class="col-sm-4">
         <a href="https://web.facebook.com/carolmore.joxe?ref=bookmarks">
          <i class="fa fa-facebook-square" style="font-size: 48px"></i>
          </a>
       </div>
     </div>
   </div>
   </footer>

   <div class="copyright">
             &copy; 2019 KJEMPIRE9. All rights reserved.
     </div>
     <style media="screen">
       a{
         text-decoration: none;
         color: inherit;
       }
       .jumbotron {
          background-color: grey;
        }
       .copyright {
               font-size: 8pt;
               text-align: right;
               padding-bottom: 10px;
               color: grey;
           }
     </style>

     <div class="container">

     </div>
